.center{border:5px solid grey;width: 1200px;margin: 0 auto;}
.header{display:block;border-bottom:5px solid grey;}
.logo{display:inline-block;vertical-align:top;width:21%;text-align: center;padding: 65px 0;}
.heading{display:inline-block;vertical-align:top;text-align:center;width:50%;margin:10px;}
.ins_name{font:36px/50px arial black;}
.test_title{font:28px/40px arial black;}
.test_desc{font:16px/20px arial black;}
.login_block{display:inline-block;vertical-align:top;width:26%;text-align:center;}
.login_block table{text-align:center;}
.button_block{display:block;}
.button{display:inline-block;border: 1px solid grey;margin: 10px;background-color:grey;border-radius:5px;}
.button:hover{background-color:#000;}
.button a{color:#fff;text-decoration:none;font: 14px/22px arial;font-weight: bold;padding: 8px;}
.timer{float: right;margin: 50px 50px 0 0;background-color: rgb(132, 132, 132);color: #fff;padding: 5px;border-radius: 5px;}
.time{text-align:center;}
/*Content BLOCK STARTS*/
.con_button_block{display:block;text-align: center;}
.con_button_block li:last-child{float:right;}
.content_block{display:block;}
/*Left Content Starts*/
.leftt_content{display:inline-block;width:22%;vertical-align:top;}
.q_list_block{border-bottom:5px solid grey;width:102%}
.q_list{list-style:none;padding:30px 0;margin:0 5px;}
.q_list a{text-decoration:none;color:#000;font: 16px/24px arial black;display: block;padding: 1%;}
.q_list  a:hover{background-color:#f1f1f1;}
.keys{}
.keys ul{display:block;margin: 0 0 0 -36px;}
.keys ul li{display:inline-block;vertical-align:top;margin:2px 0;}
.keys ul li a{display:block;height:16px;width:16px;text-align:center;border: 1px solid #5A5A5A;border-radius: 14px;text-decoration: none;color: #004;padding: 2px;font:10px/16px arial black;}
.keys ul li a:hover{background-color:rgb(17, 254, 4);color:#fff;}
/*Right Content STARTS*/
.right_content{display:inline-block;border-left: 5px solid grey;center;width:77%;}
.right_content h2{text-align:center;}
.right_content h3{text-align:center;}
.instruction{}
.instruction li{font: 20px/30px arial;margin: 10px 0;}
.question{font: 16px/24px arial;}